.vs/Palindrome/v16/TestStore/0/000-0000.testlog
.vs/Palindrome/v16/Server/sqlite3/storage.ide-wal
.vs/Palindrome/v16/Server/sqlite3/storage.ide-shm
.vs/Palindrome/v16/Server/sqlite3/storage.ide
.vs/Palindrome/v16/Server/sqlite3/db.lock
.vs/Palindrome/v16/.suo
.vs/Palindrome/v16/TestStore/0/testlog.manifest
Palindrome.Test/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
Palindrome.Test/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
Palindrome.Test/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Test.runtimeconfig.json
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Test.runtimeconfig.dev.json
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Test.pdb
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Test.dll
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Test.deps.json
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Shared.pdb
Palindrome.Test/bin/Debug/netcoreapp2.2/Palindrome.Shared.dll
Palindrome.Test/bin/Debug/netcoreapp2.2/nunit.engine.netstandard.dll
Palindrome.Test/obj/Palindrome.Test.csproj.nuget.g.props
Palindrome.Test/obj/Palindrome.Test.csproj.nuget.dgspec.json
Palindrome.Test/obj/Palindrome.Test.csproj.nuget.cache
Palindrome.Test/obj/Palindrome.Test.csproj.nuget.g.targets
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.csproj.FileListAbsolute.txt
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.csproj.CoreCompileInputs.cache
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.csproj.CopyComplete
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.assets.cache
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.Program.cs
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.AssemblyInfo.cs
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.pdb
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.dll
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.AssemblyInfoInputs.cache
Palindrome.Test/obj/project.assets.json
Palindrome.Test/obj/Debug/netcoreapp2.2/Palindrome.Test.csprojAssemblyReference.cache
PalindromeApi/bin/Debug/netcoreapp2.2/PalindromeApi.pdb
PalindromeApi/bin/Debug/netcoreapp2.2/PalindromeApi.dll
PalindromeApi/bin/Debug/netcoreapp2.2/PalindromeApi.deps.json
PalindromeApi/bin/Debug/netcoreapp2.2/Palindrome.Shared.pdb
PalindromeApi/bin/Debug/netcoreapp2.2/PalindromeApi.runtimeconfig.json
PalindromeApi/bin/Debug/netcoreapp2.2/Palindrome.Shared.dll
PalindromeApi/bin/Debug/netcoreapp2.2/PalindromeApi.runtimeconfig.dev.json
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.RazorTargetAssemblyInfo.cache
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.RazorAssemblyInfo.cs
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.RazorAssemblyInfo.cache
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.AssemblyInfoInputs.cache
PalindromeApi/obj/PalindromeApi.csproj.nuget.g.props
PalindromeApi/obj/PalindromeApi.csproj.nuget.dgspec.json
PalindromeApi/obj/PalindromeApi.csproj.nuget.cache
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.pdb
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.dll
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.csproj.CopyComplete
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.assets.cache
PalindromeApi/obj/project.assets.json
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.csproj.FileListAbsolute.txt
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.csproj.CoreCompileInputs.cache
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.AssemblyInfo.cs
PalindromeApi/obj/Debug/netcoreapp2.2/PalindromeApi.csprojAssemblyReference.cache
PalindromeApi/obj/PalindromeApi.csproj.nuget.g.targets
Shared/bin/Debug/netstandard2.0/Palindrome.Shared.pdb
Shared/bin/Debug/netstandard2.0/Palindrome.Shared.dll
Shared/bin/Debug/netstandard2.0/Palindrome.Shared.deps.json
Shared/obj/Debug/netstandard2.0/Shared.assets.cache
Shared/obj/Debug/netstandard2.0/Shared.AssemblyInfoInputs.cache
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.AssemblyInfoInputs.cache
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.AssemblyInfo.cs
Shared/obj/Palindrome.Shared.csproj.nuget.g.targets
Shared/obj/Palindrome.Shared.csproj.nuget.g.props
Shared/obj/Palindrome.Shared.csproj.nuget.dgspec.json
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.csproj.FileListAbsolute.txt
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.csproj.CoreCompileInputs.cache
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.assets.cache
Shared/obj/Shared.csproj.nuget.g.props
Shared/obj/Shared.csproj.nuget.dgspec.json
Shared/obj/Shared.csproj.nuget.cache
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.pdb
Shared/obj/Debug/netstandard2.0/Shared.csprojAssemblyReference.cache
Shared/obj/Debug/netstandard2.0/Shared.csproj.CoreCompileInputs.cache
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.csprojAssemblyReference.cache
Shared/obj/project.assets.json
Shared/obj/Palindrome.Shared.csproj.nuget.cache
Shared/obj/Debug/netstandard2.0/Palindrome.Shared.dll
Shared/obj/Debug/netstandard2.0/Shared.AssemblyInfo.cs
Shared/obj/Shared.csproj.nuget.g.targets
